body {
  background-image: url(../images/gems.jpg);
  height: auto;
}

.row {
  height: 125px;
}

.jumbotron {
  width: 100%;
  height: 100px;
  background: #bf2f24;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  vertical-align: middle;
  padding-top: 10px;
}

.gameSpace {
  background: white;
  opacity: .97;
  margin-bottom: 10px;
  padding-left: 0px;
}

.instructions {
  background: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #e3c670;
  text-align: left;
  padding-top: 5px;
  height: 200px;
}

ul {
  list-style: disc;
  margin-left: 50px;
  margin-top: 15px !important;
}

.gameBody {
  background: white;
  height: 100%;
  font-weight: bold;
  padding: 0px !important;
}

/* Scoring */

#winLosses {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  background: red;
  margin-top: 10px;
}

#winsarea {
  background: #c2e1e7;
  height: 175px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 10px;
}

#lossesarea {
  background: #c2e1e7;
  height: 175px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 10px;
}

/* Buttons  */

#selectors {
  margin: auto;
  text-align: center;
}

input {
  height: 200px;
  width: 200px;
  padding: auto;
  margin: 50px 10px 5px 10px;
}

/* Comparison  */
#target {
  background: #c2e1e7;
  height: 175px;
  width: 200px;
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 10px;
}

#scoreBox {
  background: #c2e1e7;
  height: 175px;
  width: 200px;
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 10px;
}

#score {
    padding-top: 42px;
    display: block;
}